:root {
  --white: rgba(255, 255, 255, 1);
  --dark-colordark-7: rgba(255, 251, 246, 1);
  --dark-colordark-2: rgba(84, 79, 73, 1);
  --dark-colordark-1: rgba(29, 22, 16, 1);
  --dark-colordark-3: rgba(108, 104, 100, 1);
  --dark-colordark-5: rgba(245, 245, 245, 1);
  --primaryprimary: rgba(253, 104, 1, 1);
  --primaryprimaryshade: rgba(255, 236, 216, 1);
  --text-btn-lg-font-family: "Roobert-SemiBold", Helvetica;
  --text-btn-lg-font-weight: 600;
  --text-btn-lg-font-size: 16px;
  --text-btn-lg-letter-spacing: 0px;
  --text-btn-lg-line-height: normal;
  --text-btn-lg-font-style: normal;
  --text-menu-font-family: "Poppins-Medium", Helvetica;
  --text-menu-font-weight: 500;
  --text-menu-font-size: 16px;
  --text-menu-letter-spacing: 0px;
  --text-menu-line-height: normal;
  --text-menu-font-style: normal;
  --headline-h5-font-family: "Poppins-Medium", Helvetica;
  --headline-h5-font-weight: 500;
  --headline-h5-font-size: 18px;
  --headline-h5-letter-spacing: 0px;
  --headline-h5-line-height: 28px;
  --headline-h5-font-style: normal;
  --text-btn-md-font-family: "Roobert-SemiBold", Helvetica;
  --text-btn-md-font-weight: 600;
  --text-btn-md-font-size: 14px;
  --text-btn-md-letter-spacing: 0px;
  --text-btn-md-line-height: normal;
  --text-btn-md-font-style: normal;
  --text-btn-sm-font-family: "Roobert-SemiBold", Helvetica;
  --text-btn-sm-font-weight: 600;
  --text-btn-sm-font-size: 14px;
  --text-btn-sm-letter-spacing: 0px;
  --text-btn-sm-line-height: normal;
  --text-btn-sm-font-style: normal;
}
