/* Styles for screens up to 600px wide */
@media (max-width: 600px) {
    /* Your CSS rules for screens up to 600px */
   .site-header p
   {
     font-size: 12px;
     margin-bottom: 10px;
   }
    .logo_svg
    {
      width: 210px;
    }
    .navbar
    {
      margin-top: 10px;
    }
    .custom-block-wrap .custom-block 
    {
      right: 12px;
      margin: 0px;
      padding: 10px;
    }
    .imb-3 {
      font-size: 28px;
      padding-left: 0;
    }
    .pmb
    {
      color:#717275; 
      margin:15px 0 5px;
      font-size: 24px;
      padding: 5px;
      text-align: left;
    }

    .vector {
    margin-top: 410px;
     
    }
    .rental_form
    {
      margin:0px;
    }
    .left-side
    {
      margin-top: 120px;
    }


    .subscribe {
      flex-direction: column; /* Stack elements vertically */
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
  
    .subscribe p {
      margin-top: 20px; /* Add space between elements */
    }
    .form_content {
      width: 100%; /* Full width */
      margin: 20px 30px 20px 30px;
    }
    .subscription .add-email {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding: 20px;
  }
  
    
    
  
   

  }
  
  /* Styles for screens between 601px and 768px wide */
  @media (min-width: 601px) and (max-width: 768px) {
    /* Your CSS rules for screens between 601px and 768px */
  }
  
  /* Styles for screens between 769px and 992px wide */
  @media (min-width: 769px) and (max-width: 992px) {
    /* Your CSS rules for screens between 769px and 992px */
  }
  
  /* Styles for screens between 993px and 1200px wide */
  @media (min-width: 993px) and (max-width: 1200px) {
    /* Your CSS rules for screens between 993px and 1200px */
  }
  
  /* Styles for screens larger than 1200px */
  @media (min-width: 1201px) {
    /* Your CSS rules for screens larger than 1200px */
  }





 /* @media (max-width: 822px) {




    .right-side {
      position: relative;
    }
  
    .mb-4 {
      font-size: 32px;
     
    }
  
    .imb-3 {
      font-size: 28px;
     
      padding-left: 0;
     
    }
  
    .pmb {
      font-size: 20px;
      
      padding: 5px 15px 10px 0;
      
  
    }
  
    .ser-title {
      font-size: 18px;
      margin-left: 10px;
      
    }
  
    .titlepup {
      font-size: 14px;
    
    }
  
    .titledof {
      font-size: 14px;
     
      padding-left: 110px;
      
    }
  
    .vector {
      max-width: 100%;
      
      height: auto;
      margin: -1444px 0px 0px 10px;
     
    }
  
    .right-side {
      display: block;
      
      align-items: center;
    
    }
  
    .services-thumb {
      margin: 140px 0px 0px 0px;
    }
  
    .rental_form,
    .form-input {
      width: 90%;
     
    }
  
    .right-side {
      position: relative;
     
    }
  
    .form-title {
      font-size: 17px;
      color: #544F49;
      font-style: normal;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      padding: 5px;
      align-items: center;
    }
  
    .form-titlepn {
      font-size: 17px;
      color: #544F49;
      font-style: normal;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      padding: 5px;
      align-items: center;
      padding-left: 65px;
    }
  
  
    element.style {
      width: 240px;
      height: 240px;
      margin-left: 0px;
    }
  
    .col-lg-12 {
      text-align: center;
    }
  
  
    .col-lg-4 {
      margin: 0px;
      font-size: 18px;
      text-align: center;
    }
  
    .element.style {
      width: 240px;
      height: 240px;
      margin-left: 0px;
    }
  
    #custom_img {
      margin: 50px 0px 0px 0px;
      width: 240px;
      height: 240px;
    }
  
    .text-white {
      text-align: center;
      font-size: 44px;
    }
  
    .d-flex {
      text-align: left;
    }
  
  }*/