.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 4280px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 2428px;
  height: 1248px;
  top: 3154px;
  left: -261px;
}

.desktop .rectangle {
  position: absolute;
  width: 1903px;
  height: 1126px;
  top: 0;
  left: 270px;
  background-color: #f0f8ff;
}

.desktop .download {
  position: absolute;
  width: 1920px;
  height: 801px;
  top: 0;
  left: 242px;
}

.desktop .overlap-group {
  position: relative;
  height: 801px;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 1920px;
  height: 522px;
  top: 0;
  left: 0;
  background-color: #f8f8fa;
}

.desktop .group {
  position: absolute;
  width: 540px;
  height: 321px;
  top: 101px;
  left: 405px;
}

.desktop .group-2 {
  position: absolute;
  width: 478px;
  height: 69px;
  top: 252px;
  left: 0;
}

.desktop .google-app-download {
  position: absolute;
  width: 227px;
  height: 69px;
  top: 0;
  left: 0;
  background-image: url(./img/google-app-download.png);
  background-size: 100% 100%;
}

.desktop .ios-app-btn {
  position: absolute;
  width: 231px;
  height: 69px;
  top: 0;
  left: 247px;
  background-image: url(./img/ios-app-btn.png);
  background-size: 100% 100%;
}

.desktop .group-3 {
  position: absolute;
  width: 544px;
  height: 234px;
  top: 0;
  left: 0;
}

.desktop .thank-you-for {
  position: absolute;
  width: 540px;
  top: 146px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #909090;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 540px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--dark-colordark-1);
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 385px;
  height: 738px;
  top: 63px;
  left: 1165px;
}

.desktop .overlap-2 {
  position: relative;
  height: 738px;
}

.desktop .img {
  position: absolute;
  width: 195px;
  height: 191px;
  top: 0;
  left: 190px;
}

.desktop .phone {
  position: absolute;
  width: 349px;
  height: 701px;
  top: 37px;
  left: 0;
  box-shadow: 0px 5.63px 56.29px #1919361a;
}

.desktop .shadow-mockup {
  height: 701px;
}

.desktop .white-mockup {
  width: 349px;
  height: 701px;
}

.desktop .overlap-group-2 {
  position: relative;
  height: 701px;
}

.desktop .phone-2 {
  position: absolute;
  width: 349px;
  height: 701px;
  top: 0;
  left: 0;
}

.desktop .mask-group {
  position: absolute;
  width: 305px;
  height: 661px;
  top: 20px;
  left: 22px;
}

.desktop .footer {
  position: absolute;
  width: 2428px;
  height: 726px;
  top: 522px;
  left: 0;
  background-color: transparent;
}

.desktop .overlap-3 {
  position: relative;
  width: 1939px;
  height: 604px;
  left: 242px;
}

.desktop .group-wrapper {
  position: absolute;
  width: 1920px;
  height: 604px;
  top: 0;
  left: 0;
  background-color: var(--white);
}

.desktop .group-4 {
  position: relative;
  width: 1128px;
  height: 365px;
  top: 100px;
  left: 405px;
}

.desktop .group-5 {
  position: absolute;
  width: 1110px;
  height: 2px;
  top: 116px;
  left: 0;
  background-color: var(--dark-colordark-2);
}

.desktop .group-6 {
  position: absolute;
  width: 1122px;
  height: 94px;
  top: 0;
  left: 6px;
}

.desktop .group-7 {
  position: absolute;
  width: 651px;
  height: 55px;
  top: 6px;
  left: 471px;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 487px;
  height: 55px;
  top: 0;
  left: 0;
}

.desktop .overlap-group-3 {
  position: relative;
  width: 485px;
  height: 55px;
  border-radius: 12px;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 485px;
  height: 55px;
  top: 0;
  left: 0;
  background-color: var(--dark-colordark-1);
  border-radius: 12px;
  opacity: 0.05;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 109px;
  top: 17px;
  left: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-1);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.desktop .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 40px;
  position: absolute;
  top: 0;
  left: 495px;
  background-color: #ff992e;
  border-radius: 12px;
}

.desktop .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--dark-colordark-1);
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-8 {
  position: absolute;
  width: 452px;
  height: 94px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--headline-h5-font-family);
  font-weight: var(--headline-h5-font-weight);
  color: var(--dark-colordark-1);
  font-size: var(--headline-h5-font-size);
  letter-spacing: var(--headline-h5-letter-spacing);
  line-height: var(--headline-h5-line-height);
  white-space: nowrap;
  font-style: var(--headline-h5-font-style);
}

.desktop .p {
  position: absolute;
  width: 448px;
  top: 38px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-2);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.desktop .group-9 {
  position: absolute;
  width: 1084px;
  height: 198px;
  top: 167px;
  left: 0;
}

.desktop .group-10 {
  position: absolute;
  width: 772px;
  height: 197px;
  top: 1px;
  left: 312px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--dark-colordark-1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.desktop .frame-wrapper {
  position: absolute;
  width: 96px;
  height: 141px;
  top: 56px;
  left: 0;
}

.desktop .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
}

.desktop .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--primaryprimary);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-3);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.desktop .group-11 {
  position: absolute;
  width: 544px;
  height: 176px;
  top: 0;
  left: 228px;
}

.desktop .group-12 {
  position: absolute;
  width: 164px;
  height: 74px;
  top: 0;
  left: 380px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--dark-colordark-1);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-13 {
  position: absolute;
  width: 162px;
  height: 18px;
  top: 56px;
  left: 0;
}

.desktop .group-14 {
  position: absolute;
  width: 293px;
  height: 30px;
  top: 56px;
  left: 0;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 40px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-3);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.desktop .vuesax-linear-clock {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
}

.desktop .group-15 {
  position: absolute;
  width: 243px;
  height: 30px;
  top: 101px;
  left: 0;
}

.desktop .group-16 {
  position: absolute;
  width: 146px;
  height: 30px;
  top: 146px;
  left: 0;
}

.desktop .div-wrapper {
  position: absolute;
  width: 255px;
  height: 45px;
  top: 0;
  left: 0;
}

.desktop .group-17 {
  width: 257px;
  height: 45px;
}

.desktop .overlap-group-4 {
  position: relative;
  width: 255px;
  height: 45px;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 88px;
  height: 40px;
  top: 2px;
  left: 0;
  background-color: #209eff;
  border-radius: 2.75px;
  transform: rotate(180deg);
}

.desktop .apnagaadi-co {
  position: absolute;
  width: 252px;
  top: 0;
  left: 3px;
  font-family: "Manrope", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 33px;
  line-height: normal;
}

.desktop .span {
  color: #ffffff;
  letter-spacing: 0;
}

.desktop .text-wrapper-10 {
  color: #ffffff;
  letter-spacing: 1.98px;
}

.desktop .text-wrapper-11 {
  color: #1c160f;
  letter-spacing: 0;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 255px;
  top: 76px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .pngwing {
  width: 753px;
  height: 604px;
  top: 0;
  left: 1186px;
  position: absolute;
  object-fit: cover;
}

.desktop .pngwing-2 {
  width: 739px;
  height: 604px;
  top: 0;
  left: 19px;
  position: absolute;
  object-fit: cover;
}

.desktop .overlap-4 {
  position: absolute;
  width: 1903px;
  height: 51px;
  top: 0;
  left: 9px;
  background-image: url(./img/rectangle.png);
  background-size: 100% 100%;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 289px;
  top: 14px;
  left: 151px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 85px;
  top: 14px;
  left: 1542px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 21px;
}

.desktop .whatsapp {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 13px;
  left: 1511px;
  object-fit: cover;
}

.desktop .overlap-5 {
  position: absolute;
  width: 1903px;
  height: 1143px;
  top: 51px;
  left: 9px;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 1903px;
  height: 785px;
  top: 0;
  left: 0;
  background-color: #4f83d180;
}

.desktop .we-help-you-with {
  position: absolute;
  width: 678px;
  top: 156px;
  left: 612px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: 62.4px;
}

.desktop .text-wrapper-15 {
  color: #000000;
}

.desktop .text-wrapper-16 {
  color: #e5e50f;
}

.desktop .group-18 {
  position: absolute;
  width: 1440px;
  height: 45px;
  top: 2px;
  left: 231px;
}

.desktop .frame-4 {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 40px;
  position: absolute;
  top: 2px;
  left: 1340px;
  background-color: #209eff;
  border-radius: 12px;
}

.desktop .get-started-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -8.5px;
  margin-bottom: -8.5px;
  margin-left: -20.5px;
  margin-right: -20.5px;
}

.desktop .get-started {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-btn-lg-font-family);
  font-weight: var(--text-btn-lg-font-weight);
  color: #ffffff;
  font-size: var(--text-btn-lg-font-size);
  letter-spacing: var(--text-btn-lg-letter-spacing);
  line-height: var(--text-btn-lg-line-height);
  white-space: nowrap;
  font-style: var(--text-btn-lg-font-style);
}

.desktop .group-19 {
  position: absolute;
  width: 641px;
  height: 24px;
  top: 9px;
  left: 603px;
}

.desktop .overlap-group-5 {
  position: relative;
  height: 24px;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 43px;
  height: 7px;
  top: 15px;
  left: 0;
}

.desktop .group-20 {
  position: absolute;
  width: 641px;
  height: 24px;
  top: 0;
  left: 0;
}

.desktop .frame-5 {
  display: flex;
  width: 641px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.desktop .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-menu-font-family);
  font-weight: var(--text-menu-font-weight);
  color: #ffffff;
  font-size: var(--text-menu-font-size);
  letter-spacing: var(--text-menu-letter-spacing);
  line-height: var(--text-menu-line-height);
  font-style: var(--text-menu-font-style);
}

.desktop .frame-6 {
  display: flex;
  width: 89px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.desktop .text-wrapper-18 {
  position: relative;
  width: 72px;
  margin-top: -1px;
  font-weight: var(--text-menu-font-weight);
  color: #ffffff;
  font-size: var(--text-menu-font-size);
  line-height: var(--text-menu-line-height);
  font-family: var(--text-menu-font-family);
  letter-spacing: var(--text-menu-letter-spacing);
  font-style: var(--text-menu-font-style);
}

.desktop .vuesax-linear-arrow {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -3px;
}

.desktop .group-21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 257px;
  height: 45px;
}

.desktop .text-wrapper-19 {
  color: #ffffff;
  letter-spacing: 2.97px;
}

.desktop .text-wrapper-20 {
  color: #000000;
  letter-spacing: 0;
}

.desktop .frame-7 {
  position: absolute;
  width: 1903px;
  height: 318px;
  top: 467px;
  left: 0;
}

.desktop .intro {
  position: absolute;
  width: 1600px;
  height: 361px;
  top: 782px;
  left: 151px;
}

.desktop .overlap-6 {
  position: absolute;
  width: 776px;
  height: 358px;
  top: 3px;
  left: 824px;
}

.desktop .rectangle-7 {
  position: absolute;
  width: 639px;
  height: 358px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .rectangle-8 {
  position: absolute;
  width: 275px;
  height: 163px;
  top: 195px;
  left: 501px;
  background-color: #7cb8eb;
  border-radius: 10px;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 153px;
  top: 226px;
  left: 544px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 26.4px;
}

.desktop .text-wrapper-22 {
  position: absolute;
  width: 190px;
  top: 252px;
  left: 544px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 26.4px;
}

.desktop .text-wrapper-23 {
  position: absolute;
  width: 131px;
  top: 297px;
  left: 573px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .overlap-7 {
  position: absolute;
  width: 700px;
  height: 111px;
  top: -1px;
  left: 0;
}

.desktop .rental-automobile {
  position: absolute;
  width: 700px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 46px;
  letter-spacing: 0;
  line-height: 55.2px;
}

.desktop .text-wrapper-24 {
  position: absolute;
  width: 555px;
  top: 55px;
  left: 0;
  font-weight: 400;
  color: #000000;
  font-size: 46px;
  line-height: 55.2px;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0;
}

.desktop .at-apnagaadi-we-take {
  position: absolute;
  width: 775px;
  top: 139px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #717275;
  font-size: 22px;
  letter-spacing: 0.22px;
  line-height: 25px;
}

.desktop .rectangle-9 {
  position: absolute;
  width: 225px;
  height: 50px;
  top: 349px;
  left: 710px;
  background-color: #4f83d1;
  border-radius: 45px;
}

.desktop .text-wrapper-25 {
  position: absolute;
  width: 143px;
  top: 360px;
  left: 751px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-10 {
  position: absolute;
  width: 227px;
  height: 52px;
  top: 348px;
  left: 966px;
  border-radius: 45px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 143px;
  top: 360px;
  left: 1008px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ellipse {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 6px;
  left: 182px;
  object-fit: cover;
}

.desktop .overlap-8 {
  position: absolute;
  width: 2265px;
  height: 1957px;
  top: 1197px;
  left: 7px;
}

.desktop .form {
  position: absolute;
  width: 2265px;
  height: 1434px;
  top: 0;
  left: 0;
}

.desktop .overlap-9 {
  position: relative;
  width: 1922px;
  height: 1253px;
}

.desktop .rectangle-11 {
  position: absolute;
  width: 1920px;
  height: 877px;
  top: 327px;
  left: 2px;
  background-color: var(--dark-colordark-7);
  opacity: 0.5;
}

.desktop .rectangle-12 {
  position: absolute;
  width: 1903px;
  height: 1253px;
  top: 0;
  left: 0;
  background-color: #f0f8ff;
}

.desktop .vector {
  position: absolute;
  width: 766px;
  height: 1057px;
  top: 191px;
  left: 1147px;
}

.desktop .img-wrapper {
  position: absolute;
  width: 1920px;
  height: 875px;
  top: 327px;
  left: 2px;
}

.desktop .group-22 {
  position: absolute;
  width: 1911px;
  height: 962px;
  top: 0;
  left: 0;
}

.desktop .pngwing-3 {
  width: 935px;
  height: 618px;
  top: 489px;
  left: 922px;
  position: absolute;
  object-fit: cover;
}

.desktop .group-23 {
  position: absolute;
  width: 648px;
  height: 792px;
  top: 379px;
  left: 289px;
  background-color: var(--white);
  border-radius: 9.56px;
  box-shadow: 0px 10px 40px #0000000d;
}

.desktop .group-24 {
  position: relative;
  width: 555px;
  height: 698px;
  top: 41px;
  left: 46px;
}

.desktop .group-25 {
  position: absolute;
  width: 555px;
  height: 612px;
  top: 0;
  left: 0;
}

.desktop .group-26 {
  position: absolute;
  width: 463px;
  height: 102px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 459px;
  top: 76px;
  left: 0;
  font-family: "Rubik", Helvetica;
  font-weight: 300;
  color: var(--dark-colordark-2);
  font-size: 12.7px;
  letter-spacing: 0;
  line-height: 20.7px;
}

.desktop .text-wrapper-28 {
  position: absolute;
  width: 218px;
  top: 0;
  left: 1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--dark-colordark-1);
  font-size: 19.1px;
  letter-spacing: 0;
  line-height: 27.1px;
}

.desktop .group-27 {
  position: absolute;
  width: 554px;
  height: 495px;
  top: 117px;
  left: 1px;
}

.desktop .group-28 {
  position: absolute;
  width: 554px;
  height: 99px;
  top: 132px;
  left: 0;
}

.desktop .group-29 {
  position: absolute;
  width: 159px;
  height: 28px;
  top: 0;
  left: 0;
}

.desktop .vuesax-linear {
  position: absolute;
  width: 32px;
  height: 28px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-29 {
  position: absolute;
  width: 120px;
  top: 2px;
  left: 36px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--dark-colordark-2);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 22.3px;
}

.desktop .frame-8 {
  position: absolute;
  width: 554px;
  height: 57px;
  top: 41px;
  left: 0;
  border-radius: 7.97px;
  border: 1.59px solid;
  border-color: var(--dark-colordark-5);
}

.desktop .frame-9 {
  display: flex;
  width: 524px;
  height: 34px;
  align-items: center;
  gap: 110.88px;
  position: relative;
  top: 12px;
  left: 15px;
}

.desktop .text-wrapper-30 {
  position: relative;
  width: 383px;
  height: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-3);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 19.1px;
  white-space: nowrap;
}

.desktop .vuesax-linear-arrow-2 {
  position: relative;
  width: 22.91px;
  height: 24px;
}

.desktop .group-30 {
  position: absolute;
  width: 554px;
  height: 98px;
  top: 0;
  left: 0;
}

.desktop .group-31 {
  width: 261px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-31 {
  position: absolute;
  width: 220px;
  top: 2px;
  left: 39px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--dark-colordark-2);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 22.3px;
}

.desktop .frame-10 {
  position: absolute;
  width: 554px;
  height: 56px;
  top: 42px;
  left: 0;
  border-radius: 7.97px;
  border: 1.59px solid;
  border-color: var(--dark-colordark-5);
}

.desktop .frame-11 {
  display: flex;
  width: 524px;
  height: 34px;
  align-items: center;
  gap: 219.88px;
  position: relative;
  top: 11px;
  left: 15px;
}

.desktop .text-wrapper-32 {
  position: relative;
  width: 274px;
  height: 19px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-3);
  font-size: 21.1px;
  letter-spacing: 0;
  line-height: 19.1px;
  white-space: nowrap;
}

.desktop .group-32 {
  position: absolute;
  width: 554px;
  height: 98px;
  top: 264px;
  left: 0;
}

.desktop .group-33 {
  width: 151px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .vuesax-linear-2 {
  position: absolute;
  width: 29px;
  height: 28px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-33 {
  position: absolute;
  width: 113px;
  top: 3px;
  left: 36px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--dark-colordark-2);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 22.3px;
}

.desktop .frame-12 {
  display: flex;
  width: 524px;
  height: 34px;
  align-items: center;
  gap: 110.88px;
  position: relative;
  top: 11px;
  left: 15px;
}

.desktop .group-34 {
  position: absolute;
  width: 554px;
  height: 99px;
  top: 396px;
  left: 0;
}

.desktop .group-35 {
  width: 213px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .vuesax-linear-3 {
  position: absolute;
  width: 28px;
  height: 23px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-34 {
  position: absolute;
  width: 175px;
  top: 0;
  left: 36px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--dark-colordark-2);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 22.3px;
}

.desktop .group-36 {
  position: absolute;
  width: 554px;
  height: 57px;
  top: 41px;
  left: 0;
}

.desktop .group-37 {
  position: absolute;
  width: 264px;
  height: 57px;
  top: 0;
  left: 0;
  border-radius: 7.97px;
  border: 0.8px solid;
  border-color: var(--dark-colordark-5);
}

.desktop .frame-13 {
  display: flex;
  width: 235px;
  align-items: center;
  gap: 82.1px;
  position: relative;
  top: 16px;
  left: 14px;
}

.desktop .text-wrapper-35 {
  position: relative;
  width: 137px;
  height: 19px;
  margin-top: -0.8px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-3);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 19.1px;
  white-space: nowrap;
}

.desktop .vuesax-linear-arrow-3 {
  position: relative;
  width: 15.14px;
  height: 15.14px;
}

.desktop .group-38 {
  position: absolute;
  width: 266px;
  height: 57px;
  top: 0;
  left: 288px;
  border-radius: 7.97px;
  border: 0.8px solid;
  border-color: var(--dark-colordark-5);
}

.desktop .frame-14 {
  display: flex;
  width: 232px;
  align-items: center;
  gap: 88.88px;
  position: relative;
  top: 16px;
  left: 18px;
}

.desktop .text-wrapper-36 {
  position: relative;
  width: 118px;
  height: 19px;
  margin-top: -0.8px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-3);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 19.1px;
  white-space: nowrap;
}

.desktop .frame-15 {
  display: flex;
  flex-direction: column;
  width: 554px;
  align-items: center;
  justify-content: center;
  gap: 7.97px;
  padding: 15.14px 31.86px;
  position: absolute;
  top: 653px;
  left: 1px;
  background-color: #209eff;
  border-radius: 7.97px;
}

.desktop .frame-16 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4.78px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .get-started-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.8px;
  font-family: "Roobert-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12.7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-37 {
  position: absolute;
  width: 346px;
  top: 51px;
  left: 153px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 46px;
  letter-spacing: 0;
  line-height: 55.2px;
}

.desktop .text-wrapper-38 {
  position: absolute;
  width: 774px;
  top: 146px;
  left: 289px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #7cb8eb;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 33.6px;
}

.desktop .text-wrapper-39 {
  position: absolute;
  width: 1109px;
  top: 249px;
  left: 289px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #717275;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.desktop .rectangle-13 {
  position: absolute;
  width: 1903px;
  height: 698px;
  top: 1259px;
  left: 2px;
  background-color: #4f83d1;
}

.desktop .group-39 {
  position: absolute;
  width: 1600px;
  height: 580px;
  top: 1318px;
  left: 153px;
}

.desktop .group-40 {
  position: absolute;
  width: 1064px;
  height: 550px;
  top: 0;
  left: 0;
}

.desktop .group-41 {
  position: absolute;
  width: 952px;
  height: 104px;
  top: 0;
  left: 0;
}

.desktop .group-42 {
  height: 104px;
}

.desktop .group-43 {
  position: relative;
  width: 954px;
  height: 104px;
}

.desktop .text-wrapper-40 {
  position: absolute;
  width: 952px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-44 {
  position: absolute;
  width: 1064px;
  height: 446px;
  top: 104px;
  left: 0;
}

.desktop .overlap-10 {
  position: absolute;
  width: 1066px;
  height: 280px;
  top: 0;
  left: 0;
}

.desktop .group-45 {
  position: absolute;
  width: 1066px;
  height: 231px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-41 {
  position: absolute;
  width: 970px;
  top: 15px;
  left: 94px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #e5e50f;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 38px;
}

.desktop .image {
  position: absolute;
  width: 69px;
  height: 48px;
  top: 0;
  left: 0;
}

.desktop .group-46 {
  position: absolute;
  width: 280px;
  height: 81px;
  top: 199px;
  left: 94px;
}

.desktop .overlap-group-6 {
  position: relative;
  width: 276px;
  height: 81px;
}

.desktop .text-wrapper-42 {
  position: absolute;
  width: 276px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--dark-colordark-1);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
}

.desktop .text-wrapper-43 {
  position: absolute;
  width: 229px;
  top: 27px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--dark-colordark-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28px;
}

.desktop .group-47 {
  position: absolute;
  width: 101px;
  height: 7px;
  top: 442px;
  left: 93px;
}

.desktop .group-48 {
  position: absolute;
  width: 516px;
  height: 516px;
  top: 64px;
  left: 1084px;
}

.desktop .group-49 {
  position: absolute;
  width: 581px;
  height: 596px;
  top: -10px;
  left: -31px;
}
